extends ../layout/main

block variables
  - var title = "Калькулятор малярно-кузовного ремонта";
  - var description = "Калькулятор малярно-кузовного ремонта вашего автомобиля";
  - var pageCLass = "calculator-body-painting";

block content
  section(
    class = "calculator-painting calculator-body-painting"
  )
    div(
      class = "calculator-painting__container calculator-body-painting__container container container--custom"
    )
      div(
        class = "calculator-painting__title-text calculator-body-painting__title-text"
      )
        h2(
          class = "calculator-painting__title calculator-body-painting__title title"
        ) Калькулятор малярно-кузовного ремонта
      
      section(
        class = "car"
      )
        div(
          class = "car__container container container--custom"
        )
          div(
            class = "map owl-carousel owl-theme car__slider"
          )
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 560 180">
              <g data-name="windows" id="windows">
                <a>
                  <path class="st0" id="frontWindows" d="M354.7 33.6L327.3 28 289 26.7 281.4 75l94.1-8.3V45.6zM278.6 28.5l-74.2 19.4-35.3 31.9 106.7-8.7 10.1-42.6z" />
                </a>
                <a>
                  <path class="st0" id="sideWindows" d="M224.4 31.7l-77.9 31.5 24.1 4.3L239 32.2zM425.7 52.9s-45.9-20.8-52.1-22.5l-6.3 1.4s32.5 17.4 44.1 21.2c7.2 2.3 14.3-.1 14.3-.1z" />
                </a>
              </g>
              <g data-name="backstage" id="backstage">
                  <path class="st1" id="rightMirror" d="M208.1 60.4c-.6-6.2-11.6-4.1-14.1 1.8v-.1l-.6.2c-2 .6-5.3 3-5 5.1.2 1.5 1.9 1.6 3.4 1.6H197.9c2.3.1 6.1 0 7.8-.1a3 3 0 002.8-3.1c0-1.8-.2-3.5-.4-5.4z" />
                  <path class="st2" id="strope" d="M464.9 67.2l-.1-.1-.1-.1a17.2 17.2 0 00-11.6-6.4l-25.9-2.8a78.5 78.5 0 01-14.6-3.4c1.9.5 3.8.6 5.7.6 1.5 0 3.1-.1 4.6-.4l4.4-.9h-.1-.1l-4.3.8c-5.1 1-10.4.2-15.2-1.9l.9.4h-.1a69.5 69.5 0 0018.6 5l26 2.8c4.2.5 8.1 2.6 10.9 5.7-5.6-3.6-22.2-5.4-49.4-5.6-20.3-.1-39.7.9-41.8 1 2.1-4.3-21.2 14.8-24.8 11.6-11.8-10.6-6.3-4.9-26.9-8.2l-2.8-.2-1-.1-1.7-.1-1.4-.1-1.3-.1-1.6-.1-1-.1-1.7-.1h-.8l-1.8-.1h-.7l-1.9-.1h-.5l-1.9-.1h-.4l-2-.1h-6.9-2.2H285.1l-2.1.1h-1.1.8l-1.8-.1c-6.1 22.3-5.8 40.3-3 65.8L176.1 133l102-3 50-1.5h1.2l.8-.1h.1a14.1 14.1 0 0010.5-7.4l32-58.5c.8 0 79-4.1 91.7 4.9-7.8.5-13.4 1.2-20.3 2.9-3.1.8-3.7 3.2-1.3 5.3 5.7 5 11 8.5 16.4 10.8l.1.1c4.9 2 9.8 3 15.1 3l3-.1a51.3 51.3 0 00-12.5-22.2z" />
                  <path class="st3" id="rightSideShadow" d="M173.4 73.3c4.7-7.6 22.6-18.6 32.9-24.4a174.4 174.4 0 0188.5-23.1c9 0 18.7.5 30.6 1.6h.2c21.1 3.5 34.1 9.3 46.3 20.8 4.5 4.2 5.7 11 3 16.6l-.7 1.4-203.6 11.6 2.8-4.5zM369 59c.1-1.9-.6-3.9-2-5.2-11.1-10.4-23-15.7-42.5-18.9-11.6-1-21-1.5-29.8-1.5l-8.7.2c-13.2.5-26.5 2.6-39.4 6.4A197 197 0 00188 69.4L369 59z" />
                  <path class="st4 nm" d="M217.6 72.3l-7.2-17a1.5 1.5 0 00-2.1-.8c-.8.3-1.2 1.3-.8 2.1l2.2 5.2-2.7-.2-2.2-5.3c-.1-.3-.4-.5-.8-.5-5.7.3-47.3 6.3-51.9 9.2l11 5.1 48.1 1.6-.3-.8 3 .5.8 2c.3.8 1.3 1.2 2.1.8.7-.1 1.1-1.1.8-1.9z" />
                  <path class="st5" id="seat" d="M269.1 48.6c-.7-5.1.8-9.2 3.1-10.4 0 0 3.2-1.6 4-1.6 2.4-.1 5.5 3.8 6.2 9.3.5 3.6-.1 6.9-1.3 8.8l.9-.3-1.7 12.1-10.3-.4v-.6l3.9-8c-2.2-.9-4.2-4.4-4.8-8.9z" />
                  <path class="nm" d="M236.8 32.2l-4 1.4-8.4-1.8 3.9-1.3 8.5 1.7zM425.7 52.9c-3.6.7-10.3 2.5-18.3-1.5l-40.1-19.6 6.3-1.4-2-.5-7.2 1.6L407 52.4c8.4 4.1 14.9 2.3 20 1.3l-1.3-.8z" />
                  <path class="st3 nm" d="M293.2 28.5l-3.6 38.1-15.4.8 10.6-38.6 3.1-.1 5.3-.2z" />
                  <path class="st5 nm" d="M46.7 119.4v6.8c0 .4-.1.7-.4.9-.2.2-1.1.4-1.5.4v-10.6c1.1.3 1.9 1.3 1.9 2.5z" />
                  <path class="st6" id="glass" d="M368.9 50.7c-11.5-10.3-23.8-15.6-43.9-18.8-11.7-1-21.2-1.5-30.1-1.5h-3.7l-3.3 34.2 83.3-4.5c1.2-3.3.3-7.1-2.3-9.4zM183.8 56a306.9 306.9 0 0153-23.8h-.1l-.3.1h.1A300.7 300.7 0 00183.8 56zM369.2 30.4l-4.6 1h.1l4.5-1zM245.9 36.7a178.7 178.7 0 00-37.5 15.2A158.9 158.9 0 00180 70.5l92.8-5.1 9.4-34.7c-12.2.7-24.4 2.7-36.3 6zM364.6 31.5l42.5 20.9.5.2-.6-.3-42.4-20.8z" />
                  <path class="st1 all" d="M174.4 61.4l1-.6-1 .6zM372.5 62.1l5.9-.3-5.9.3c-.1 0 0 0 0 0zM167.3 64.5l1.5-.5a121.5 121.5 0 01-1.5.5zM141.5 70l-4.4.7 4.4-.7zM442.7 75.2c11.8 10.4 22 14.5 34.2 13.8a51.2 51.2 0 00-12.2-21.6c-8.7.5-14.2 1.3-20.8 2.9-2.9.7-3.5 2.9-1.2 4.9z" />
                  <path class="st2 nm" d="M364.7 31.5s-.1 0 0 0h-.1L407 52.3l.6.3a26.5 26.5 0 0015.2 1.9l4.3-.8h.2l-.2-.1-4.2.8c-5.3 1-10.8.3-15.6-2.1L365 31.6l7-1.6-.4-.1-2.3.5-4.6 1.1zM228.5 30.5l-.3.1 8.2 1.7.3-.1-8.2-1.7zM236.5 32.3h-.1a333.8 333.8 0 00-61.1 28.5l8.5-4.8a300.7 300.7 0 0152.7-23.7zM161.6 64.8a22 22 0 01-4.4-.5l-2.2-.5-.2.1 2.2.4c1.5.3 3 .5 4.6.5zM410.6 53.8l-.4-.1.4.1zM68.5 86.5l-.2.1.2-.1zM151.7 68.3l-3.2.6 3.2-.6zM168.8 64l.2-.1.2-.1-.4.2zM145.1 69.5l-3.6.5 3.6-.5zM175 127.9zM372.5 62.1l-.1.2.1-.2z" />
                  <path class="st2 nm" d="M183.8 56l-8.5 4.8a646 646 0 008.5-4.8zM291.1 24.5c15.9-.4 46.5 0 73.4 7l-.1-.1c-27-7-57.6-7.4-73.5-7-23.3.6-44.3 3.6-53.7 7.6h.1l-.4.1-.1.1h.2c9.3-4.1 30.5-7.1 54.1-7.7zM364.6 31.5h-.1.1zM369.2 30.4l2.4-.5h-.1zM412.3 54.3l.3.1-.3-.1z" />
                  <path class="st2 nm" d="M236.8 32.2l-8.1-1.7h-.2l8.3 1.7c-.1 0-.1 0 0 0zM464.2 66.7l-.3-.2.1.1.2.1z" />
                  <path class="st5 nm" d="M61.8 127.8H67.2v3.7H61.4v-3.7h.2z" />
                  <path class="st2 nm" d="M403.8 67.3H415c2 .1 3.6 1.7 3.6 3.8v4.8c0 2.1-1.7 3.8-3.7 3.8h-11.2c-2-.1-3.6-1.7-3.6-3.8v-4.8c0-1 .4-2 1.1-2.7.7-.7 1.6-1.1 2.6-1.1zm-3.6 8.7c0 2 1.5 3.6 3.5 3.6h11.2c2 0 3.6-1.6 3.6-3.7v-4.8c0-2-1.5-3.6-3.5-3.6h-11.2a3.6 3.6 0 00-3.5 3.7l-.1 4.8z" />
                  <path class="st7 nm" d="M51.6 98.8l4.8-4.4c3.5-3.2 7.5-5.8 11.8-7.7l1.7-1-2 1.1-1 .5h-.2c9.6-6.8 40.6-12.9 60.3-15.5 14-1.8 28.5-3.7 39.6-7.3a25 25 0 01-9.5 0l-2.4-.6.3-.1 2.2.5c5.9 1.2 12 .1 17.2-2.9a320 320 0 0162.1-29.1l-8.3-1.7.5-.1 8.3 1.7c9.3-4.1 30.5-7.1 54.1-7.7 15.9-.4 46.6 0 73.6 7l6.8-1.6.5.1-7 1.6 42.3 20.7a24.7 24.7 0 0015.6 2.1l4.2-.8.2.1-4.4.9a24.6 24.6 0 01-10.6-.3h.1c4.6 1.6 9 2.7 14.8 3.5l25.9 2.8c4.5.5 8.8 2.8 11.6 6.4l.2.2a50.6 50.6 0 0112.4 22l-3 .1c-5.3 0-10.2-1-15.1-3l-4.4 4.8c-1.9 2-4.6 3.2-7.3 3.3l-41.8.9-.4-.3 42.2-.9c2.7-.1 5.3-1.2 7.2-3.2l4.4-4.7a61.6 61.6 0 01-16.4-10.8c-2.4-2.1-1.8-4.5 1.3-5.3 6.9-1.7 12.5-2.4 20.3-2.9-12.7-9-90.9-4.9-91.7-4.9l-32 58.5a14.4 14.4 0 01-12.7 7.6l-161.4 5v-.2l9.4-.3c-5.1-27-5.4-48.6-.7-59.3.9-2.1 3.8-5 8.3-8.4l-8.3-4-.6.3c-1.8 1-3.7 1.8-5.6 2.4a131 131 0 01.2-.1l.2.2a213.8 213.8 0 01-41.8 8.1C109 74.6 81 79.9 69.7 86l-1.4.6c4.3-1.8 8.8-2.9 13.5-3.3l13-.9c2.3 0 2.7 1.3.7 3L84.3 95c-2.4 2-5.3 3.3-8.4 3.6l-23.4 2.2c-1.9.1-2.3-.8-.9-2zm412.8-32l.4.3-.4-.3zm-20.5 3.5c-2.9.7-3.5 2.9-1.2 4.9 11.8 10.4 22 14.5 34.2 13.8a51.2 51.2 0 00-12.2-21.6c-8.7.5-14.2 1.3-20.8 2.9zm-71.5-8l.1-.2 5.9-.3-6 .3c.1 0 .1.1 0 .2zm-44.7 65.9c5.2 0 10-2.9 12.5-7.5l32-58.5c2.4-4.3 1.4-9.6-2.2-12.9-11.8-10.6-24.4-15.9-44.9-19.2-11.6-1-21.3-1.5-30.3-1.5l-7.8.1-6.1 35.3c-6.1 22.2-5.8 40.3-3 65.7l49.8-1.5zM175.2 73.7c-4.7 10.6-4.4 32.2.7 59.2l101.8-3.2c-2.8-25.5-3.1-43.5 3-65.8l6.1-35.3h-.8c-27 1-54.1 8.4-78.3 21.6-18.3 10-30.4 18.8-32.5 23.5zm8.3-8.6c5.7-4.3 13.9-9.5 24.1-14.9A178.2 178.2 0 01286 28.6a325 325 0 0139.2 1.3c20.6 3.3 33.2 8.7 45 19.3 3.6 3.2 4.6 8.4 2.5 12.7 2.1-.1 21.5-1.1 41.8-1 27.7.2 44.4 2.1 49.7 5.8l-.2-.1a17.5 17.5 0 00-11-5.8L427 58a69.5 69.5 0 01-18.6-5h.1l-1.5-.7-42.6-20.9c-27-7-57.6-7.4-73.5-7-23.3.6-44.3 3.6-53.7 7.6h.1l-.4.1a326.6 326.6 0 00-61.6 28.7l8.2 4.3zm227.1-11.3l-.4-.1.4.1zM145.1 69.5l-8 1.2 8-1.2zM51 100.1c.3.7.6.4 24.8-1.9a15 15 0 008.3-3.5l11.3-9.6c.9-.8 1.3-1.5 1.2-1.9-.1-.4-.8-.6-1.7-.6l-13 .9a42 42 0 00-25.4 11L51.7 99c-.6.5-.7 1-.7 1.1z" />
                  <path class="st6 nm" d="M297.8 28.5h-2.1 2.1zM302.3 28.6h-2 2zM304.6 28.6l-2-.1 2 .1zM293.5 28.5h-2.1 2.1zM307 28.7l-1.9-.1 1.9.1zM287.1 28.6l2.1-.1-2.1.1zM293.6 28.5h2.1-2.1zM291.3 28.5h-2.1 2.1zM319.6 29.5l-1.4-.1 1.4.1zM322.4 29.7l-1-.1 1 .1zM464.2 66.7l-.3-.2.1.1.2.1zM412.3 54.3l.3.1-.3-.1zM317 29.3l-1.6-.1 1.6.1zM309.4 28.8l-1.9-.1 1.9.1zM311.9 29l-1.8-.1 1.8.1zM314.4 29.1l-1.7-.1 1.7.1zM300 28.5h-2 2zM372.5 62.1l5.9-.3-5.9.3c-.1 0 0 0 0 0zM372.5 62.1l-.1.2.1-.2zM370 49.3c-11.8-10.6-24.4-15.9-44.9-19.2-11.6-1-21.3-1.5-30.3-1.5l-7.8.1-6.1 35.3c-6.1 22.2-5.8 40.3-3 65.7l49.8-1.5c5.2 0 10-2.9 12.5-7.5l32-58.5c2.4-4.3 1.4-9.6-2.2-12.9zM410.6 53.8l-.4-.1.4.1zM168.8 64l.2-.1.2-.1-.4.2zM464.7 67.4c-8.7.5-14.2 1.3-20.8 2.9-2.9.7-3.5 2.9-1.2 4.9 11.8 10.4 22 14.5 34.2 13.8a51.2 51.2 0 00-12.2-21.6zM167.3 64.5l1.5-.5a124.8 124.8 0 01-1.5.5z" />
                  <path class="st2 nm" d="M287.9 24.5h-.2v.1l.2-.1c0 .1 0 .1 0 0z" />
                  <path class="st6 nm" d="M73.1 84.3l-4.3 2 4.3-2zM100.5 76.3l-7 1.6 7-1.6zM167.5 64.3c-11.1 3.6-26.6 5.4-40.5 7.5a246 246 0 0040.5-7.5zM68.5 86.5zM93.3 78.3l.4-.1h-.2l-.2.1zM412.3 54.3l.3.1-.3-.1zM464.2 66.7l-.3-.2.1.1.2.1zM410.6 53.8l-.4-.1.4.1zM442.7 75.2c11.8 10.4 22 14.5 34.2 13.8a51.2 51.2 0 00-12.2-21.6c-8.7.5-14.2 1.3-20.8 2.9-2.9.7-3.5 2.9-1.2 4.9zM372.5 62.1l-.1.2.1-.2zM327.7 128.2c5.2 0 10-2.9 12.5-7.5l32-58.5c2.4-4.3 1.4-9.6-2.2-12.9-11.8-10.6-24.4-15.9-44.9-19.2-11.6-1-21.3-1.5-30.3-1.5l-7.8.1-6.1 35.3c-6.1 22.2-5.8 40.3-3 65.7l49.8-1.5zM372.5 62.1l5.9-.3-5.9.3c-.1 0 0 0 0 0z" />
                  <path class="st1 nm" d="M66.7 87.3z" />
                  <path class="st6 nm" d="M56.5 94.5L51.7 99c-.6.5-.7 1-.7 1.1.3.7.6.4 24.8-1.9a15 15 0 008.3-3.5l11.3-9.6c.9-.8 1.3-1.5 1.2-1.9-.1-.4-.8-.6-1.7-.6l-13 .9a40.9 40.9 0 00-25.4 11z" />
                  <path class="st1 nm" d="M65.1 88.4z" />
                  <path class="st6 nm" d="M141.5 70l3.6-.5-3.6.5zM137.1 70.7l4.4-.7-4.4.7z" />
                  <path class="st2 nm" d="M84.9 97l-1.5-1.3.6-.4.4-.3 11.2-9.6c2-1.7 1.6-3-.7-3l-13 .9c-4.2.4-8.3 1.3-12.1 2.8 4.4-1.9 12.8-5.2 23.7-7.8l.2-.1h.2l.9-.2 1.2-.3c10.8-2.4 24.8-4.7 31.7-5.6 14.9-1.9 30.4-4 41.8-8.1l3.8-1.8.2-.1 1.2-.6.6-.3 8.3 4a27.2 27.2 0 00-8.3 8.4 56.4 56.4 0 000 .1c2.1-4.7 14.2-13.5 32.5-23.5a177.2 177.2 0 01-.1 0 183.6 183.6 0 00-24 14.8l-8.2-4.2-1 .6a25.3 25.3 0 01-17.4 2.9l-2.2-.4h-.1l2.4.6c1.6.3 3.2.5 4.8.5 1.6 0 4-.4 5.6-.7a249.3 249.3 0 01-40.6 7.5c-7.8 1.2-17.3 2.6-26.5 4.5a143.5 143.5 0 00-20.4 5.5l-7 2.5-4.3 2-.3.2-1.8.8-1.6 1.1a42.4 42.4 0 0116.8-4.9l13-.9c.9 0 1.6.2 1.7.6.1.4-.3 1.1-1.2 1.9l-11.3 9.6a15 15 0 01-8.3 3.5c-24.2 2.3-24.5 2.6-24.8 1.9 0-.1.1-.6.7-1.1l4.8-4.5 2.6-2.2-2.7 2.1-4.8 4.4c-1.4 1.2-1 2.1.9 2l23.4-2.2.4-.1c1.8-.3 4.9-1.5 6.8-2.8l1.6 1.4c1.2 1 2.7 1.5 4.2 1.5h19.7l.2-.2H89c-1.5.1-3-.4-4.1-1.4zm56.6-27l3.6-.5-3.6.5-4.4.7 4.4-.7zM61.7 90.1H54.3l-.2.2h7.3z" />
                  <path class="st2 nm" d="M61.7 90.1l-.3.2h.2a52 52 0 00-2.5 2c1.9-1.5 3.9-2.8 6-3.9l1.6-1.1c-.4.2-3.4 1.8-4.8 2.8h-.2zM73.1 84.3l7-2.5a117.7 117.7 0 01.1-.2c-2.9.9-5 1.8-7.1 2.7zM76.3 98.5c3.5-.3 4.9-1.5 6.8-2.8a19.6 19.6 0 01-6.8 2.8zM68.8 86.3l-.3.2.3-.2zM127 71.8c-7.8 1-17.3 2.6-26.5 4.5 9.2-1.9 18.7-3.3 26.5-4.5z" />
                  <path class="st6 nm" d="M410.6 53.8l-.4-.1.4.1zM442.7 75.2c11.8 10.4 22 14.5 34.2 13.8a51.2 51.2 0 00-12.2-21.6c-8.7.5-14.2 1.3-20.8 2.9-2.9.7-3.5 2.9-1.2 4.9zM412.3 54.3l.3.1-.3-.1zM464.2 66.7l-.3-.2.1.1.2.1zM372.5 62.1l-.1.2.1-.2zM327.7 128.2c5.2 0 10-2.9 12.5-7.5l32-58.5c2.4-4.3 1.4-9.6-2.2-12.9-11.8-10.6-24.4-15.9-44.9-19.2-11.6-1-21.3-1.5-30.3-1.5l-7.8.1-6.1 35.3c-6.1 22.2-5.8 40.3-3 65.7l49.8-1.5zM372.5 62.1l5.9-.3-5.9.3c-.1 0 0 0 0 0zM410.6 53.8l-.4-.1.4.1z" />
                  <path class="st6 nm" d="M442.7 75.2c11.8 10.4 22.2 14.5 34.4 13.8a51.6 51.6 0 00-12.4-21.6c-8.7.5-14.2 1.3-20.8 2.9-2.9.7-3.5 2.9-1.2 4.9zM412.3 54.3l.3.1-.3-.1zM372.5 62.1l-.1.2.1-.2zM464.2 66.7l-.3-.2.1.1.2.1zM327.7 128.2c5.2 0 10-2.9 12.5-7.5l32-58.5c2.4-4.3 1.4-9.6-2.2-12.9-11.8-10.6-24.4-15.9-44.9-19.2-11.6-1-21.3-1.5-30.3-1.5l-7.8.1-6.1 35.3c-6.1 22.2-5.8 40.3-3 65.7l49.8-1.5zM372.5 62.1l5.9-.3-5.9.3c-.1 0 0 0 0 0z" />
                  <path class="st2 nm" d="M477.6 89.3l-.2-.5.2.5z" />
                  <path class="st6 nm" d="M410.6 53.8l-.4-.1.4.1zM372.5 62.1l-.1.2.1-.2zM372.5 62.1l5.9-.3-5.9.3c-.1 0 0 0 0 0zM442.7 75.2c11.8 10.4 22.2 14.5 34.4 13.8a51.6 51.6 0 00-12.4-21.6c-8.7.5-14.2 1.3-20.8 2.9-2.9.7-3.5 2.9-1.2 4.9zM464.2 66.7l-.3-.2.1.1.2.1zM412.3 54.3l.3.1-.3-.1zM327.7 128.2c5.2 0 10-2.9 12.5-7.5l32-58.5c2.4-4.3 1.4-9.6-2.2-12.9-11.8-10.6-24.4-15.9-44.9-19.2-11.6-1-21.3-1.5-30.3-1.5l-7.8.1-6.1 35.3c-6.1 22.2-5.8 40.3-3 65.7l49.8-1.5z" />
                  <path class="st2 nm" d="M405.1 95l.4.3h.1l-.5-.3zM454.8 91.1l4.4-4.8-.1-.1-4.4 4.7c-1.9 2-4.5 3.1-7.2 3.2l-42.3.9.5.3 41.9-.9c2.6-.1 5.3-1.3 7.2-3.3zM477.3 89.2l-3 .1c1.1 0 2.3.1 3.2 0l-.1-.5a51.9 51.9 0 00-.1.4zM145.1 69.5l-3.6.5 3.6-.5zM141.5 70l-4.4.7 4.4-.7zM321.4 29.6l-1.7-.1 1.7.1zM293.6 28.5c-.1 0-.1 0 0 0-.1 0-.1 0 0 0zM298 28.5h-.2.2zM295.6 28.5h0zM289.2 28.5zM305.1 28.6h-.4.4zM318.3 29.4l-1.3-.1 1.3.1zM325.2 29.9l-2.8-.2 2.8.2zM291.4 28.5c-.1 0-.1 0 0 0-.1 0-.1 0 0 0zM287.9 24.6h-.3l-.8 3.9h-.8 1.1l.8-3.9zM307.5 28.7h-.5.5zM302.7 28.6h-.3.3zM300.3 28.5h-.3.3zM310.1 28.9h-.7.7zM315.4 29.2l-1-.1 1 .1zM312.7 29h-.8.8z" />
                  <path class="st6 nm" d="M464.2 66.7l-.3-.2.1.1.2.1zM370 49.3c-11.8-10.6-24.4-15.9-44.9-19.2-11.6-1-21.3-1.5-30.3-1.5l-7.8.1-6.1 35.3c-6.1 22.2-5.8 40.3-3 65.7l49.8-1.5c5.2 0 10-2.9 12.5-7.5l32-58.5c2.4-4.3 1.4-9.6-2.2-12.9zM372.5 62.1l-.1.2.1-.2zM410.6 53.8l-.4-.1.4.1zM372.5 62.1l5.9-.3-5.9.3c-.1 0 0 0 0 0zM412.3 54.3l.3.1-.3-.1zM464.7 67.4c-8.7.5-14.2 1.3-20.8 2.9-2.9.7-3.5 2.9-1.2 4.9 11.8 10.4 22.2 14.5 34.4 13.8a51.6 51.6 0 00-12.4-21.6z" />
                  <path class="st2 nm" d="M175.9 132.7v.2-.2z" />
              </g>
              <g data-name="notRequied" id="notRequied">
                  <path class="st6" d="M464.2 66.7l-.3-.2.1.1.2.1zM412.3 54.3l.3.1-.3-.1zM277.9 129.9l50-1.5zM370 49.3c-11.8-10.6-24.4-15.9-44.9-19.2-11.6-1-21.3-1.5-30.3-1.5l-7.8.1-6.1 35.3c-6.1 22.2-5.8 40.3-3 65.7l49.8-1.5c5.2 0 10-2.9 12.5-7.5l32-58.5c2.4-4.3 1.4-9.6-2.2-12.9zM410.6 53.8l-.4-.1.4.1zM464.7 67.4c-8.7.5-14.2 1.3-20.8 2.9-2.9.7-3.5 2.9-1.2 4.9 11.8 10.4 22.2 14.5 34.4 13.8a51.6 51.6 0 00-12.4-21.6zM372.5 62.1l-.1.2.1-.2zM372.5 62.1l5.9-.3-5.9.3c-.1 0 0 0 0 0z" />
                  <path class="st2" d="M278.3 137.5h.1-.1z" />
                  <path class="st1" d="M277.7 130l.6 7.5h.1l-.5-7.6z" />
              </g>
              <a data-name="frontBumper"> 
                <path class="st1" id="frontBumper" data-parts = "true" data-title="Бамперы" d="M84.8 97.2l-1.6-1.4c-2 1.2-3.4 2.4-6.8 2.8l-.4.1-23.4 2.2c-1.9.1-2.3-.8-.9-2l4.8-4.4a52 52 0 015.2-4.1h-7.4c-3.6 3.4-7 7.5-9.4 11.8-2.2 4.1-3.6 5.7-3.6 9.1v3.2c0 1.3 1.1 2.4 2.4 2.4h.5c1.4 0 2.6 1.1 2.6 2.6v6.8c0 .4-.1.7-.4.9-.2.2-1.1.4-1.5.4-.4 0-.6.4-.5.7l.9 2.2c.8 2 3.3 6.2 5.4 6.3l43.2 3.3h2v-12.9c0-11.3 5-21.6 12.9-28.4H89c-1.5-.1-3-.6-4.2-1.6z" />
              </a>
              <a data-name="frontLeftWing"> 
                <path class="st1" id="frontLeftWing" data-parts = "true" data-title="Крылья"  d="M175 127.9a187.8 187.8 0 01-3.1-32.6c0-9.2 1.1-16.7 3.3-21.7.9-2.1 3.8-5 8.3-8.4l-8.3-4-.6.3-1.2.6-.2.1-3.8 1.8a213.8 213.8 0 01-41.8 8.1c-6.9.9-20.9 3.2-31.7 5.6l-1.2.3-.9.2-.4.1a146.5 146.5 0 00-23.7 7.8c3.9-1.5 7.9-2.4 12.1-2.8l13-.9c2.3 0 2.7 1.3.7 3L84.3 95l-.4.3-.6.4 1.5 1.3c1.1 1 2.6 1.5 4.1 1.5h20c6-5 13.6-8 22-8 19.9 0 35.2 13.9 35.2 33.7v8.8l9.7-.3a80 80 0 00-.8-4.8z" />
              </a>
              <a data-name="frontDesk">
                <path class="st1" id="frontDesk" data-parts = "true" data-title="Стойки"  d="M286.8 28.5l.8-3.9c-22.2.8-41.8 3.7-50.6 7.6h-.2-.1.1a310.4 310.4 0 00-53 23.8l-8.5 4.8 8.2 4.2c5.7-4.3 13.8-9.4 24-14.8a174.8 174.8 0 0178.4-21.6l.9-.1z" />
              </a>
              <g data-name="frontDoor">
                <a>
                  <path class="st1" id="frontDoor" data-parts = "true"  data-title="Дверь передняя" d="M280.7 63.9l6.1-35.3h-.8c-27 1-54.1 8.4-78.3 21.6-18.3 10-30.4 18.8-32.5 23.5-2.2 5-3.3 12.3-3.3 21.6a198.1 198.1 0 004 37.6l101.8-3.2c-2.8-25.5-3.1-43.5 3-65.8zM180 70.5c5.1-4.7 15.2-11.4 28.4-18.6a178.7 178.7 0 0173.8-21.2l-9.4 34.7-92.8 5.1z" />
                </a> 
                  <path class="st6" d="M166.2 133.2l9.7-.3-9.7.3zM277.7 130l-111.2 3.4 111.4-3.5 50-1.5-50.2 1.6z" />
                  <path class="st1" d="M277.7 130l50.2-1.6-50.2 1.6zM277.7 130l50.2-1.6-152 4.5 101.8-3z" />
                  <path class="st6" d="M277.7 130l-111.2 3.4 111.2-3.4z" />
                  <path class="st1" d="M277.7 130l-111.2 3.4 111.2-3.4zM166.5 133.4l111.2-3.4v-.1l-101.8 3-9.4.3z" />
                  <path class="st1" d="M166.2 133.4h.3v-.2l9.4-.3-9.7.3z" />
                  <path class="st2" d="M166.2 133.2l9.7-.3v-.2l-9.7.3zM336.2 125.7l-.5.4h.1l.4-.4c.1 0 .1 0 0 0z" />
                  <path class="st6" d="M166.2 133.4h.3l111.4-3.5 50-1.5-50 1.5-102 3-9.7.3zM335.8 126.1zM329.1 128.3l.8-.1-.8.1zM330.1 128.2zM327.9 128.4h1-1z" />
                  <path class="st6" d="M166.2 133.4h.3l111.4-3.5 50-1.5-50 1.5-102 3-9.7.3z" />
                  <path class="st2" d="M350.7 135.8c.1 0 .1.1 0 0l.4.1-.4-1v.9zM329.9 128.3h.1c0-.1 0-.1-.1 0zM328.9 128.4h.2-.2z" />
                  <path class="st2" d="M336.3 125.7a15.8 15.8 0 01-.6.4l.1-.1c.7 0 10.3.7 15 9.7h.1v-.9c-1.1-2.2-4.6-7.8-14.6-9.1z" />
              </g>
              <a data-name="mirror">
                <path class="st31" id="mirror" data-parts = "true" data-title="Зеркала" d="M206.1 59c4.3 2.6 4.9 13 .1 13.5-40.1 3.9-4.4-16.1-.1-13.5z"/>
              </a>
              <a data-name="backDoor">
                <path class="st1" id="backDoor" data-parts = "true"  data-title="Дверь задняя" d="M277.9 129.7l49.8-1.5c5.2 0 10-2.9 12.5-7.5l32-58.5c2.4-4.3 1.4-9.6-2.2-12.9-11.8-10.6-24.4-15.9-44.9-19.2-11.6-1-21.3-1.5-30.3-1.5l-7.8.1-6.1 35.3c-6.1 22.2-5.8 40.3-3 65.7zm13.3-99.3h3.7c8.9 0 18.4.5 30.1 1.5 20.1 3.2 32.4 8.5 43.9 18.8a8.7 8.7 0 012.3 9.4l-83.3 4.5 3.3-34.2z" id="Слой_3" />
              </a>
              <a data-name="sideLeftSkirt">
                <path class="st1" id="sideLeftSkirt" data-parts = "true" data-title="Юбки"  d="M335.8 126.1c-.1 0-.1 0 0 0a15 15 0 01-5.7 2.2h-.1l-.8.1H328l-50 1.5-111.4 3.5h-.3v-.2l9.7-.3-9.7.3v6.6l6.3.1 105.9-2.4 72.4-1.7a18.6 18.6 0 00-15.1-9.7z"/>
              </a>
              <a data-name="backDesk">
                <path class="st1" id="backDesk" data-parts = "true" data-title="Стойки" d="M289.2 28.5h13.4l2 .1h.4l1.9.1h.5l1.9.1h.7l1.8.1h.8l1.7.1 1 .1 1.6.1 1.3.1 1.4.1 1.7.1 1 .1 2.8.2c20.6 3.3 33.2 8.7 45 19.3 3.6 3.2 4.6 8.4 2.5 12.7 2.1-.1 21.5-1.1 41.8-1 27.3.2 43.9 2 49.4 5.6a17.4 17.4 0 00-10.9-5.7L427 58a69.5 69.5 0 01-18.6-5h.1l-.9-.4-.5-.2-42.6-20.9h.1-.1c-27-7-57.5-7.3-73.4-7l-3.2.1-.8 4 2.1-.1z" id="Слой_8" />
              </a>
              <a data-name="backLeftWing">
                <path class="st1" id="backLeftWing" data-parts = "true" data-title="Крылья" d="M444 70.1c6.9-1.7 12.5-2.4 20.3-2.9-12.7-9-90.9-4.9-91.7-4.9l-32 58.5c-1.1 2-2.5 3.6-4.3 4.9 10 1.3 13.5 6.9 14.5 9.2v-10.6a34.2 34.2 0 0134.9-34.9c7.3 0 14 2 19.5 5.6l42.3-.9c2.7-.1 5.3-1.2 7.2-3.2l4.4-4.7a61.6 61.6 0 01-16.4-10.8c-2.4-2.1-1.8-4.5 1.3-5.3z"/>
              </a>
              <a data-name="backBumper">
                <path class="st1" id="backBumper" data-parts = "true" data-title="Бамперы" d="M479.1 92.3c-.7-.2-1.1-.8-1.3-1.5l-.3-1.5c-1 .1-2.2 0-3.2 0-5.3 0-10.2-1-15.1-3l-4.4 4.8c-1.9 2-4.6 3.2-7.3 3.3l-41.9.9c9.2 6.2 15 16.7 15 29v7.7l1.8-.1 44-3.7a22 22 0 007.5-2.3 10 10 0 011.7-4.7c1.6-2.5 3.7-3.9 6-3.9.9-2.1 1.4-4.4 1.4-6.8l.1-9.3v-.2c0-3.9-.2-7.5-4-8.7z" id="Слой_16" />
              </a>
              <g data-name="backLamp" id="backLamp">
                  <path class="st8" d="M477.3 89c-12.9.8-23.3-3.9-34.5-13.8-2.3-2.1-1.8-4.3 1.2-5.1 6.9-1.7 12.5-2.4 20.9-2.9l.9 1a50 50 0 014.7 6.1l1.8 2.8 2.2 4.4 1.1 2.8 1 2.8.7 1.9z" />
                  <path class="st9" d="M474.4 81.5h-20.1a56.6 56.6 0 01-6.4-4.4h24.3l2.2 4.4zM470.4 74.3h-25.9l-.6-.5c-.7-.6-.8-1.1-.8-1.1 0-.1.3-.4 1.2-.6 6.5-1.6 11.9-2.3 20.6-2.9h1.5c1.8 2 2.6 3.1 4 5.1z" />
              </g>
              <a data-name="trunk">
                <path class="st1" id="trunk" d="M418.3 55c-1.9 0-3.8-.2-5.7-.6 4.5 1.6 8.9 2.7 14.6 3.4l25.9 2.8c4.5.5 8.8 2.8 11.6 6.4l.1.1.1.1a51.3 51.3 0 0112.6 21.6 77 77 0 00-8.9-24.7c-1.7-3.4-6.2-5.2-8.8-5.5l-32.5-4.9-4.4.9c-1.5.3-3.1.4-4.6.4z" id="Слой_14" />
              </a>
              <g data-name="backWheels" id="backWheels">
                  <path d="M385.8 89.5a34.2 34.2 0 0134.9 34.9v7.7l-69.9 3.8v-11.5a34.3 34.3 0 0135-34.9z" />
                  <radialGradient id="SVGID_1_" cx="138.6" cy="54.3" r="28.7" gradientTransform="rotate(180 262.2 90)" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#fff" />
                      <stop offset=".1" stop-color="#cdcdcd" />
                      <stop offset=".3" stop-color="#909090" />
                      <stop offset=".5" stop-color="#5c5c5c" />
                      <stop offset=".6" stop-color="#343434" />
                      <stop offset=".8" stop-color="#181818" />
                      <stop offset=".9" stop-color="#060606" />
                      <stop offset="1" />
                  </radialGradient>
                  <circle class="st10" cx="385.8" cy="125.7" r="28.7" />
                  <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="131" y1="54.4" x2="118.3" y2="54.4" gradientTransform="rotate(180 262.2 90)">
                      <stop offset="0" stop-color="#bcbec0" />
                      <stop offset=".5" stop-color="#a7a9ac" />
                      <stop offset="1" stop-color="#939598" />
                  </linearGradient>
                  <path class="st11" d="M393.8 124.7l-.4-.7s6.2-2.1 12.6-2l.1 1.7v.5h-.1l-.2.6s-7.5 0-9.1.3c-1.5.3-2 .7-2.1.9s2.4 1.1 2.4 1.1l8.3.1-.2 2.1s-9.6-.7-11.2-2.2l.1-.7-.2-.3c-.3-.7-.5-1.1 0-1.4z" />
                  <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="137.8" y1="68.1" x2="129.1" y2="68.1" gradientTransform="rotate(180 262.2 90)">
                      <stop offset="0" stop-color="#bcbec0" />
                      <stop offset=".5" stop-color="#a7a9ac" />
                      <stop offset="1" stop-color="#939598" />
                  </linearGradient>
                  <path class="st12" d="M388.6 105.4l2 .6v.1l.5.3s-2.3 7.2-2.5 8.7 0 2.1.2 2.3c.2.2 1.8-2 1.8-2l2.7-7.9 2 .9s-3.7 8.9-5.5 10l-.6-.3-.4.1c-.9.1-1.2.2-1.4-.4l-.8.2s-.1-6.6 2-12.6z" />
                  <linearGradient id="SVGID_4_" gradientUnits="userSpaceOnUse" x1="157" y1="63.1" x2="144.3" y2="63.1" gradientTransform="rotate(180 262.2 90)">
                      <stop offset="0" stop-color="#bcbec0" />
                      <stop offset=".5" stop-color="#a7a9ac" />
                      <stop offset="1" stop-color="#939598" />
                  </linearGradient>
                  <path class="st13" d="M367.3 116.7l1.2-1.8.1.1.5-.4s6.1 4.4 7.5 5.1c1.4.6 2 .6 2.2.5s-1.3-2.3-1.3-2.3l-6.7-5 1.4-1.6s7.3 6.2 7.8 8.3l-.5.5v.4c-.1.9-.2 1.2-.8 1.2l-.1.8c.1 0-6.1-1.9-11.3-5.8z" />
                  <linearGradient id="SVGID_5_" gradientUnits="userSpaceOnUse" x1="156.4" y1="45.2" x2="143.7" y2="45.2" gradientTransform="rotate(180 262.2 90)">
                      <stop offset="0" stop-color="#bcbec0" />
                      <stop offset=".5" stop-color="#a7a9ac" />
                      <stop offset="1" stop-color="#939598" />
                  </linearGradient>
                  <path class="st14" d="M375.9 131.1l-6.8 4.8-1.1-1.8s8.2-5 10.3-4.8l.3.6.4.1c.8.4 1.1.6.9 1.1l.7.3s-3.8 5.3-9 9l-1.3-1.7.1-.1-.2-.6s6.1-4.4 7.1-5.6c1-1.2 1.2-1.7 1.2-1.9l-2.6.6z" />
                  <linearGradient id="SVGID_6_" gradientUnits="userSpaceOnUse" x1="137.7" y1="41.1" x2="128.9" y2="41.1" gradientTransform="rotate(180 262.2 90)">
                      <stop offset="0" stop-color="#bcbec0" />
                      <stop offset=".5" stop-color="#a7a9ac" />
                      <stop offset="1" stop-color="#939598" />
                  </linearGradient>
                  <path class="st15" d="M386.9 133.9l.7-.1.2-.3c.6-.6.9-.9 1.4-.5l.5-.6s3.9 5.3 5.8 11.4l-2 .7v-.1h-.6s-2.3-7.2-3.1-8.5c-.8-1.3-1.3-1.7-1.5-1.7s-.3 2.7-.3 2.7l2.5 8-2.1.5c-.1-.2-2.4-9.6-1.5-11.5z" />
                  <linearGradient id="SVGID_7_" gradientUnits="userSpaceOnUse" x1="130.1" y1="54.3" x2="147.1" y2="54.3" gradientTransform="rotate(180 262.2 90)">
                      <stop offset="0" stop-color="#bcbec0" />
                      <stop offset=".3" stop-color="#d1d2d4" />
                      <stop offset=".5" stop-color="#e6e7e8" />
                      <stop offset=".6" stop-color="#cdcecf" />
                      <stop offset=".8" stop-color="#8c8d8f" />
                      <stop offset="1" stop-color="#58595b" />
                  </linearGradient>
                  <circle class="st16" cx="385.8" cy="125.7" r="8.5" />
                  <radialGradient id="SVGID_8_" cx="138.6" cy="54.3" r="2.8" gradientTransform="rotate(180 262.2 90)" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#f1f2f2" />
                      <stop offset=".6" stop-color="#d1d2d4" />
                      <stop offset="1" stop-color="#bcbec0" />
                  </radialGradient>
                  <path class="st17" d="M385.8 122.9a2.8 2.8 0 110 5.6 2.8 2.8 0 110-5.6z" />
                  <radialGradient id="SVGID_9_" cx="385.2" cy="54.3" r="21.4" gradientTransform="matrix(1 0 0 -1 .6 180)" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#bcbec0" />
                      <stop offset=".4" stop-color="#d1d2d4" />
                      <stop offset="1" stop-color="#f1f2f2" />
                  </radialGradient>
                  <path class="st18" d="M385.8 147.1a21.4 21.4 0 100-42.8 21.4 21.4 0 000 42.8zm0-40a18.6 18.6 0 110 37.3 18.6 18.6 0 010-37.3z" />
                  <path class="st19" d="M385.5 118.9c.5 0 1 .3 1.2.8l.1.5c0 .7-.6 1.3-1.3 1.3-.4 0-.7-.2-1-.4-.2-.2-.3-.5-.3-.8 0-.8.6-1.4 1.3-1.4zM379.3 123.8c.2-.5.6-.8 1.1-.9l.5.1c.7.2 1 .9.8 1.6-.1.4-.4.6-.7.8h-.9c-.7-.2-1.1-.9-.8-1.6zM381.5 130l.2-.5c.4-.6 1.2-.7 1.8-.3.3.2.5.6.5.9l-.2.9c-.4.6-1.2.7-1.8.3-.4-.3-.6-.8-.5-1.3zM388.5 128.9c.3-.2.7-.3 1-.2s.6.2.7.5c.4.6.3 1.4-.3 1.8-.4.3-1 .3-1.4.1l-.4-.3c-.3-.7-.2-1.5.4-1.9zM389.8 123c.2-.3.4-.5.7-.6.7-.2 1.4.1 1.6.8.2.5 0 1-.4 1.4l-.4.3c-.7.2-1.4-.2-1.6-.8a2 2 0 01.1-1.1z" />
              </g>
              <g data-name="frontWheels" id="frontWheels">
                  <path d="M131.8 89.5a34.2 34.2 0 0134.9 34.9l-.5 15.5-70.3.2.1-15.8c0-20 15.9-34.8 35.8-34.8z" />
                  <radialGradient id="SVGID_10_" cx="392.6" cy="54.3" r="28.7" gradientTransform="rotate(180 262.2 90)" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#fff" />
                      <stop offset=".1" stop-color="#cdcdcd" />
                      <stop offset=".3" stop-color="#909090" />
                      <stop offset=".5" stop-color="#5c5c5c" />
                      <stop offset=".6" stop-color="#343434" />
                      <stop offset=".8" stop-color="#181818" />
                      <stop offset=".9" stop-color="#060606" />
                      <stop offset="1" />
                  </radialGradient>
                  <circle class="st20" cx="131.8" cy="125.7" r="28.7" />
                  <linearGradient id="SVGID_11_" gradientUnits="userSpaceOnUse" x1="384.1" y1="54.3" x2="401.1" y2="54.3" gradientTransform="rotate(180 262.2 90)">
                      <stop offset="0" stop-color="#bcbec0" />
                      <stop offset=".3" stop-color="#d1d2d4" />
                      <stop offset=".5" stop-color="#e6e7e8" />
                      <stop offset=".6" stop-color="#cdcecf" />
                      <stop offset=".8" stop-color="#8c8d8f" />
                      <stop offset="1" stop-color="#58595b" />
                  </linearGradient>
                  <circle class="st21" cx="131.8" cy="125.7" r="8.5" />
                  <radialGradient id="SVGID_12_" cx="392.6" cy="54.3" r="2.8" gradientTransform="rotate(180 262.2 90)" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#f1f2f2" />
                      <stop offset=".6" stop-color="#d1d2d4" />
                      <stop offset="1" stop-color="#bcbec0" />
                  </radialGradient>
                  <path class="st22" d="M131.8 122.9a2.8 2.8 0 110 5.6 2.8 2.8 0 110-5.6z" />
                  <radialGradient id="SVGID_13_" cx="131.2" cy="54.3" r="21.4" gradientTransform="matrix(1 0 0 -1 .6 180)" gradientUnits="userSpaceOnUse">
                      <stop offset="0" stop-color="#bcbec0" />
                      <stop offset=".4" stop-color="#d1d2d4" />
                      <stop offset="1" stop-color="#f1f2f2" />
                  </radialGradient>
                  <path class="st23" d="M131.8 147.1a21.4 21.4 0 100-42.8 21.4 21.4 0 000 42.8zm0-40a18.6 18.6 0 110 37.3 18.6 18.6 0 010-37.3z" />
                  <path class="st19" d="M131.5 118.9c.5 0 1 .3 1.2.8l.1.5c0 .7-.6 1.3-1.3 1.3-.4 0-.7-.2-1-.4-.2-.2-.3-.5-.3-.8 0-.8.6-1.4 1.3-1.4zM125.3 123.8c.2-.5.6-.8 1.1-.9l.5.1c.7.2 1 .9.8 1.6-.1.4-.4.6-.7.8h-.9c-.7-.2-1-.9-.8-1.6zM127.5 130l.2-.5c.4-.6 1.2-.7 1.8-.3.3.2.5.6.5.9l-.2.9c-.4.6-1.2.7-1.8.3-.4-.3-.6-.8-.5-1.3zM134.5 128.9c.3-.2.7-.3 1-.2s.6.2.7.5c.4.6.3 1.4-.3 1.8-.4.3-1 .3-1.4.1l-.4-.3c-.3-.7-.2-1.5.4-1.9zM135.8 123c.2-.3.4-.5.7-.6.7-.2 1.4.1 1.6.8.2.5 0 1-.4 1.4l-.4.3c-.7.2-1.4-.2-1.6-.8a2 2 0 01.1-1.1z" />
                  <linearGradient id="SVGID_14_" gradientUnits="userSpaceOnUse" x1="391.8" y1="68.1" x2="383.1" y2="68.1" gradientTransform="rotate(180 262.2 90)">
                      <stop offset="0" stop-color="#bcbec0" />
                      <stop offset=".5" stop-color="#a7a9ac" />
                      <stop offset="1" stop-color="#939598" />
                  </linearGradient>
                  <path class="st24" d="M134.6 105.4l2 .6v.1l.5.3s-2.3 7.2-2.5 8.7 0 2.1.2 2.3c.2.2 1.8-2 1.8-2l2.7-7.9 2 .9s-3.7 8.9-5.5 10l-.6-.3-.4.1c-.9.1-1.2.2-1.4-.4l-.8.2s-.1-6.6 2-12.6z" />
                  <linearGradient id="SVGID_15_" gradientUnits="userSpaceOnUse" x1="411" y1="63.1" x2="398.3" y2="63.1" gradientTransform="rotate(180 262.2 90)">
                      <stop offset="0" stop-color="#bcbec0" />
                      <stop offset=".5" stop-color="#a7a9ac" />
                      <stop offset="1" stop-color="#939598" />
                  </linearGradient>
                  <path class="st25" d="M113.4 116.7l1.2-1.8.1.1.5-.4s6.1 4.4 7.5 5.1c1.4.6 2 .6 2.2.5s-1.3-2.3-1.3-2.3l-6.7-5 1.4-1.6s7.3 6.2 7.8 8.3l-.5.5v.4c-.1.9-.2 1.2-.8 1.2l-.1.8s-6.2-1.9-11.3-5.8z" />
                  <linearGradient id="SVGID_16_" gradientUnits="userSpaceOnUse" x1="410.4" y1="45.2" x2="397.7" y2="45.2" gradientTransform="rotate(180 262.2 90)">
                      <stop offset="0" stop-color="#bcbec0" />
                      <stop offset=".5" stop-color="#a7a9ac" />
                      <stop offset="1" stop-color="#939598" />
                  </linearGradient>
                  <path class="st26" d="M121.9 131.1l-6.8 4.8-1.1-1.8s8.2-5 10.3-4.8l.3.6.4.1c.8.4 1.1.6.9 1.1l.7.3s-3.8 5.3-9 9l-1.3-1.7.1-.1-.2-.6s6.1-4.4 7.1-5.6c1-1.2 1.2-1.7 1.2-1.9l-2.6.6z" />
                  <linearGradient id="SVGID_17_" gradientUnits="userSpaceOnUse" x1="391.7" y1="41.1" x2="382.9" y2="41.1" gradientTransform="rotate(180 262.2 90)">
                      <stop offset="0" stop-color="#bcbec0" />
                      <stop offset=".5" stop-color="#a7a9ac" />
                      <stop offset="1" stop-color="#939598" />
                  </linearGradient>
                  <path class="st27" d="M132.9 133.9l.7-.1.2-.3c.6-.6.9-.9 1.4-.5l.5-.6s3.9 5.3 5.8 11.4l-2 .7v-.1h-.6s-2.3-7.2-3.1-8.5-1.3-1.7-1.5-1.7-.3 2.7-.3 2.7l2.5 8-2.1.5c-.1-.2-2.4-9.6-1.5-11.5z" />
                  <linearGradient id="SVGID_18_" gradientUnits="userSpaceOnUse" x1="380.5" y1="52.9" x2="371.7" y2="52.9" gradientTransform="scale(-1) rotate(-73.8 -2 311.7)">
                      <stop offset="0" stop-color="#bcbec0" />
                      <stop offset=".5" stop-color="#a7a9ac" />
                      <stop offset="1" stop-color="#939598" />
                  </linearGradient>
                  <path class="st28" d="M139.4 126.2l.1-.7-.3-.3c-.4-.8-.6-1.1-.1-1.5l-.4-.6s6.1-2.3 12.5-2.4l.2 2.1h-.1l-.1.6s-7.5.2-9 .6-2 .7-2.1.9c-.1.2 2.5 1.1 2.5 1.1l8.3-.2-.1 2.1c-.1.1-9.7-.4-11.4-1.7z" />
              </g>
              <a data-name="hood">
                <path class="st1" id="hood" d="M61.9 90.1c1.5-1 4.5-2.6 4.8-2.8l1.8-.8.3-.2a75.3 75.3 0 0111.4-4.8 246.9 246.9 0 0146.8-9.8c14-2.1 29.4-3.9 40.5-7.5-1.6.3-4 .7-5.6.7a26 26 0 01-4.8-.5l-2.4-.6h.1l-.2-.1-8.2-.6C91.8 68.6 81.7 73.5 63.9 83a49.7 49.7 0 00-9.5 7.1h7.5z"  />
              </a>
              <a data-name="roof">
                <path class="st1" id="roof"  d="M236.8 32.2l.1-.1.4-.1h-.1c9.4-4 30.4-7 53.7-7.6 15.9-.4 46.5 0 73.5 7l.1.1h.1l4.6-1 2.3-.5h.1c-26.5-7.2-55.1-8.9-96-7.6a171 171 0 00-47.3 8.2h.4l8.1 1.6z" id="Слой_5" />
              </a>
              <g data-name="frontLamp" id="frontLamp">
                <a>
                  <path class="st29" d="M51.7 99c-.6.5-.7 1-.7 1.1.3.7.6.4 24.8-1.9a15 15 0 008.3-3.5l11.3-9.6c.9-.8 1.3-1.5 1.2-1.9-.1-.4-.8-.6-1.7-.6l-13 .9a42 42 0 00-25.4 11L51.7 99z" />
                  <path class="st30" d="M70.9 85.8a40.9 40.9 0 00-14.4 8.7L51.7 99c-.6.5-.7 1-.7 1.1.3.7.6.4 24.8-1.9 1.2-.1 2.3-.4 3.4-.7v-.4c0-4.8-3.3-8.9-8.3-11.3z" />
                </a>
              </g>
            </svg>
            
  section(
    class = "form-summary"
  )
    div(
      class = "form-summary__container container container--custom"
    )
      div(
        class = "form-summary__wrapper row"
      )
        //- Категории
        div(
          class = "form-summary__block categories col-12 col-md-4"
        )
          div(
            class = "form-summary__header-wrapper"
          )
            h2(
              class = "form-summary__main-title title"
            ) Категории

          div(
            class = "form-summary__wrapper-list"
          )
            ul(
              class = "form-summary__list-categories categories__list"
              role="tablist"
            ) 
              //- - for (var i = 0; i < 2; i++)
              //-     li(
              //-     class = "form-summary__item-categories categories__item"
              //-     )
              //-       button(
              //-         class = "form-summary__button-category categories__button"
              //-       )
              //-         div(
              //-           class = "categories__picture-wrapper"
              //-         )
              //-           img(
              //-             src = "/site/templates/img/diagnostick.svg"
              //-             class = "categories__image"
              //-           )
                      
              //-         div(
              //-           class = "categories__title-wrapper"
              //-         )
              //-           h3(
              //-             class = "categories__title-category"
              //-           ) Sas
                  
        //- Услуги
        div(
          class = "form-summary__block repair-services  col-12 col-md-4"
        )
          div(
            class = "form-summary__header-wrapper col-12"
          )
            h2(
              class = "form-summary__main-title title"
            ) Услуги

          div(
            class = "form-summary__wrapper-list repair-services__wrapper-list col-12"
          )
            ul(
              class = "form-summary__list repair-services__list tab-content"
            )
                //- li(
                //-   class = "form-summary__item repair-services__item"
                //- )
                //-   div(
                //-     class = "form-summary__checkbox-block"
                //-   )
                //-     div(
                //-       class = "form-summary__checkbox-wrapper repair-services__checkbox-wrapper"
                //-     ) 
                //-       label(
                //-         class = "form-summary__label"
                //-       )
                //-         input(
                //-           class = "form-summary__checkbox repair-services__checkbox"
                //-           type="checkbox" 
                //-         )
                //-         div(
                //-           class = "form-summary__checkbox-text"
                //-         )
                    
                //-     div(
                //-       class = "form-summary__description-wrapper repair-services__description-wrapper"
                //-     )
                //-       p(
                //-         class = "form-summary__description repair-services__description"
                //-       ) Аппаратная прочистка форсунок - ДВС до 2,4 л (включительно)
                    
                //-     div(
                //-       class = "form-summary__price-wrapper repair-services__price-wrapper"
                //-     )
                //-       p(
                //-         class = "form-summary__price repair-services__price"
                //-       ) 12&nbsp;245&nbsp;₽

                //- li(
                //-   class = "form-summary__item repair-services__item"
                //- )
                //-   div(
                //-     class = "form-summary__checkbox-block"
                //-   )
                //-     div(
                //-       class = "form-summary__checkbox-wrapper repair-services__checkbox-wrapper"
                //-     ) 
                //-       label(
                //-         class = "form-summary__label"
                //-       )
                //-         input(
                //-           class = "form-summary__checkbox repair-services__checkbox"
                //-           type="checkbox" 
                //-         )
                //-         div(
                //-           class = "form-summary__checkbox-text"
                //-         )
                    
                //-     div(
                //-       class = "form-summary__description-wrapper repair-services__description-wrapper"
                //-     )
                //-       p(
                //-         class = "form-summary__description repair-services__description"
                //-       ) Аппаратная прочистка форсунок - ДВС до 2,4 л (включительно)
                    
                //-     div(
                //-       class = "form-summary__price-wrapper repair-services__price-wrapper"
                //-     )
                //-       p(
                //-         class = "form-summary__price repair-services__price"
                //-       ) 12&nbsp;245&nbsp;₽

                //-   div(
                //-     class = "form-summary__radio-wrapper repair-services__radio-wrapper"
                //-   )
                //-     label(
                //-       class = "form-summary__label"
                //-     )
                //-       input(
                //-         type="radio"
                //-         name="rr"
                //-       )
                //-       |Легкая степень повреждения

                //-     label(
                //-       class = "form-summary__label"
                //-     )
                //-       input(
                //-         class = "form-summary__radio repair-services__radio"
                //-         type="radio"
                //-         name="rr"
                //-       )
                //-       |Средняя степень повреждения

                //-     label(
                //-       class = "form-summary__label"
                //-     )
                //-       input(
                //-         class = "form-summary__radio repair-services__radio"
                //-         type="radio"
                //-         name="rr"
                //-       )
                //-       |Тяжелая степень повреждения

                //-     label(
                //-       class = "form-summary__label"
                //-     )
                //-       input(
                //-         class = "form-summary__radio repair-services__radio"
                //-         type="radio"
                //-         name="rr"
                //-       )
                //-       | Замена детали

        //- Выбранные услуги
        div(
          class = "form-summary__block selected-services  col-12 col-md-4"
        )
          div(
            class = "form-summary__header-wrapper"
          )
            h2(
              class = "form-summary__main-title title"
            ) Выбранные услуги

          div(
            class = "form-summary__wrapper-list selected-services__wrapper-list col-12"
          )
            ul(
              class = "form-summary__list selected-services__list"
            )
              //- - for (var i = 0; i < 1; i++)
              //-   li(
              //-     class = "form-summary__item selected-services__item"
              //-   )
              //-     div(
              //-       class = "form-summary__checkbox-wrapper selected-services__checkbox-wrapper"
              //-     )
              //-       label(
              //-         class = "form-summary__label"
              //-       )
              //-         input(
              //-           class = "form-summary__checkbox repair-services__checkbox"
              //-           type="checkbox"
              //-           checked 
              //-         )
              //-         div(
              //-           class = "form-summary__checkbox-text"
              //-         )
                  
              //-     div(
              //-       class = "form-summary__description-wrapper selected-services__description-wrapper"
              //-     )
              //-       p(
              //-         class = "form-summary__description selected-services__description"
              //-       ) Аппаратная прочистка форсунок - ДВС до 2,4 л (включительно)
                  
              //-     div(
              //-       class = "form-summary__price-wrapper selected-services__price-wrapper"
              //-     )
              //-       p(
              //-         class = "form-summary__price selected-services__price"
              //-       ) 12&nbsp;245&nbsp;₽
                    
              //-   li(
              //-     class = "form-summary__item selected-services__item"
              //-   )
              //-     div(
              //-       class = "form-summary__checkbox-wrapper selected-services__checkbox-wrapper"
              //-     )
              //-       label(
              //-         class = "form-summary__label"
              //-       )
              //-         input(
              //-           class = "form-summary__checkbox repair-services__checkbox"
              //-           type="checkbox"
              //-           checked 
              //-         )
              //-         div(
              //-           class = "form-summary__checkbox-text"
              //-         )

              //-     div(
              //-       class = "form-summary__description-wrapper selected-services__description-wrapper"
              //-     )
              //-       p(
              //-         class = "form-summary__description selected-services__description"
              //-       ) Motor FIT + расширенная диагностик ДВС и электронных систем
                  
              //-     div(
              //-       class = "form-summary__price-wrapper selected-services__price-wrapper"
              //-     )
              //-       p(
              //-         class = "form-summary__price selected-services__price"
              //-       ) 12&nbsp;245&nbsp;₽
                    
              //-   li(
              //-     class = "form-summary__item selected-services__item"
              //-   )
              //-     div(
              //-       class = "form-summary__checkbox-wrapper selected-services__checkbox-wrapper"
              //-     )
              //-       label(
              //-         class = "form-summary__label"
              //-       )
              //-         input(
              //-           class = "form-summary__checkbox repair-services__checkbox"
              //-           type="checkbox"
              //-           checked 
              //-         )
              //-         div(
              //-           class = "form-summary__checkbox-text"
              //-         )
                  
              //-     div(
              //-       class = "form-summary__description-wrapper selected-services__description-wrapper"
              //-     )
              //-       p(
              //-         class = "form-summary__description selected-services__description"
              //-       ) Аппаратная прочистка форсунок - ДВС до 2,4 л (включительно)
                  
              //-     div(
              //-       class = "form-summary__price-wrapper selected-services__price-wrapper"
              //-     )
              //-       p(
              //-         class = "form-summary__price selected-services__price"
              //-       ) 12&nbsp;245&nbsp;₽

      //- Итого 
      div(
        class = "form-summary__wrapper-amount"
      )
        p(
          class = "form-summary__total-amount"
        ) Итого : 
          span(
            class = "form-summary__value-amount"
          ) 0 ₽

      div(
        class = "form-summary__controls"
      )
        button(
          class = "form-summary__button-sign btn btn-primary  col-12 col-sm-5 col-md-3"
          data-toggle="modal" 
          data-target="#exampleModalCenter"
          disabled
        ) Записаться на сервис

      ul(
        class = "form-summary__rules-list"
      )
        li(
          class = "form-summary__rules-item"
        )
          p(
            class = "form-summary__rules-text"
          ) 1. Все расчеты в Он-Лайн калькуляторе (кроме замены фар, фонарей и стекол) , включают в себя стоимость материалов для окраски и/или кузовного ремонта.
      
        li(
          class = "form-summary__rules-item"
        )
          p(
            class = "form-summary__rules-text"
          ) 2. В стоимость замены, кузовного ремонта и покраски, включена стоимость работ по разборкее/сборке как самой детали, так и снятие/установка сопряженных элементов конструкции, препятствующих кузовному ремонту и/или покраске автомобиля.

        li(
          class = "form-summary__rules-item"
        )
          p(
            class = "form-summary__rules-text"
          ) 3. Расчет наружной покраски автомобиля, выполняется по специальным нормативам и итоги расчета по покраске всех элементов кузова на данном калькуляторе, не могут служить основанием для рассмотрения в качестве возможных претензий по сумме расчета.

        li(
          class = "form-summary__rules-item"
        )
          p(
            class = "form-summary__rules-text"
          ) 4. Он-лайн калькулятор стоимости кузовного ремонта и покраски автомобиля, не является основанием для выполнения окончательных расчетов с заказчиком, поскольку предназначен для ознакомления возможных клиентов с уровнем цен автоцентра "Ам-сервис", посредством сервиса на официальном сайте компании.

        li(
          class = "form-summary__rules-item"
        )
          p(
            class = "form-summary__rules-text"
          ) 5. Окончательная стоимость работ и материалов, формируется после осмотра и дефектации транспортного средства в условиях автосервиса.

        li(
          class = "form-summary__rules-item"
        )
          p(
            class = "form-summary__rules-text"
          ) 6. В настоящем Он-Лайн калькуляторе, использованы средневзвешенные нормативы на кузовные работы, работы по разборке/сборке и покраске, сформированные посредством выборки их применения на различных марках и моделях автомобилей.

        li(
          class = "form-summary__rules-item"
        )
          p(
            class = "form-summary__rules-text"
          ) 7. Настоящий калькулятор не применим для расчета стоимости ремонта эксклюзивных и/или представительских автомобилей, а также стоимости эксклюзивной покраски кузова или его элементов.

        li(
          class = "form-summary__rules-item"
        )
          p(
            class = "form-summary__rules-text"
          ) 8. Он-Лайн калькулятор не учитывает стоимость работ по подготовке стапеля, кондуктора, установке автомобиля на стапель, проверку и регулировку развал-схождения, а также работы по диагностике и ремонту подвески.

      //- Форма записи на сервис
      div(
        class="modal fade record" 
        id="exampleModalCenter" 
        tabindex="-1" 
        role="dialog" 
        aria-labelledby="exampleModalCenterTitle" 
        aria-hidden="true"
      )
        div(
          class="modal-dialog modal-dialog-centered" 
          role="document"
        )
          div(
            class="modal-content"
          )
            div(
              class = "modal-body record__body"
            )
              button(
                type="button" 
                class="close record__close" 
                data-dismiss="modal" 
                aria-label="Close"
              )
                span(
                  aria-hidden="true"
                ) &times;

              //- Форма успешной отправки

              //- div(
              //-   class = "contact-us__wrapper"
              //- )
              //-   div(
              //-       class = "contact-us__picture-success  mb-4"
              //-   )
              //-     img(
              //-       src = "site/templates/img/check.svg"
              //-       class = "contact-us__image-success"
              //-     )

              //-   div(
              //-     class = "contact-us__text col-sm-12 text-center"
              //-   )
              //-     h3(
              //-       class = "contact-us__text-title title"
              //-     ) Спасибо!

              //-     p(
              //-       class = "contact-us__text-description--success"
              //-     ) Благодарим за оставленную заявку. <br> 
              //-       |Мы обязательно свяжемся с Вами в ближайшее время.
              div(
                class = "modal-body__form"
              )
                h3(
                  class = "record__title title"
                ) Запись на сервис
                
                form(
                  class = "form-communication"
                  name="demo-form-1"
                )
                  div(
                    class="form-group form-communication__group m-0"
                  )
                    label(
                      class = "record__label form-communication__label" 
                      for="inputName"
                    ) Имя*

                    input(
                      type="text" 
                      class="form-control form-communication__input" 
                      id="inputName"
                      name = "inputName"
                    )
              
                  div(
                    class = "form-group form-communication__group m-0"
                  )
                    label(
                      class = " record__label form-communication__label" 
                      for = "inputEmail1"
                    ) E-mail*

                    input(
                      type = "text" 
                      class = "form-control form-communication__input" 
                      id = "inputEmail1"
                      name = "inputEmail"
                    )

                  div(
                    class="form-group form-communication__group m-0"
                  )
                    label(
                      class = "record__label form-communication__label" 
                      for = "inputPhone1"
                    ) Телефон*

                    input(
                      type = "text" 
                      class = "form-control form-communication__input" 
                      id = "inputPhone1"
                      name = "inputPhone"
                    )


                    div(
                      class = "mb-3"
                    )
                      input(
                        class = "checkbox form-communication__checkbox" 
                        type = "checkbox" 
                        id = "checkbox1" 
                        checked
                      )

                      label(
                        class = "form-communication__label mb-0" 
                        for = "checkbox1"
                      ) 
                        span(
                          class = "form-communication__record-checkbox"
                        ) Даю согласие на обработку своих персональных данных и соглашаюсь <br> 
                          |с политикой конфиденциальности

                  button(
                    class = "btn btn-primary btn-lg form-communication__button col-12 col-sm-7 mb-3"
                    disabled
                  ) Оставить заявку


                
                  div
                    p(
                      class = "form-communication__required"
                    ) * - поля, обязательные для заполнения
     
      <form id="formPageInfo">
        <input name="page_id" type="hidden" value="1029">
        <input name="pageTitle" type="hidden" value="Ремонт авто">
      </form>