extends ../layout/main

block variables
  - var title = "Контакты";
  - var description = "АМ - сервис";
  - var pageCLass = "am-service";

block content
  section(
    class = "contacts"
  )
    div(
      class = "contacts__container container container--custom"
    )
      h2(
        class = "contacts__title title"
      ) Как нас найти

      div(
        class = "contacts__address row"
      )
        iframe(
          class = "communication-map col-md-6"
          src="https://www.google.com/maps/d/embed?mid=1U3qqAXUGQqlBbl5VQHbB5NeKotN2ClTo" 
        )

        div(
          class = "contacts__information-text col-md-6"
        )
          div(
            class = "contacts__text-wrapper"
          )
            div(
              class = "contacts__icon"
            )
              img(
                class = "contacts__icon-image"
                src="/site/templates/img/map.svg"
              )

            div(
              class ="contacts__text"
            )
              p(
                class ="contacts__description"
              ) г. Санкт-Петербург, пр. Энергетиков, д. 53а
          
          div(
            class = "contacts__text-wrapper"
          )
            div(
              class = "contacts__icon"
            )
              img(
                class = "contacts__icon-image"
                src="/site/templates/img/phone.svg"
              )
              
            div(
              class ="contacts__text"
            )
              a(
                href="tel:+7812380-67-50"
                class ="contacts__description"
              ) Тел.: +7 (812) 380-67-50
          
          div(
            class = "contacts__text-wrapper"
          )
            div(
              class = "contacts__icon"
            )
              img(
                class = "contacts__icon-image"
                src="/site/templates/img/email.svg"
              )

            div(
              class ="contacts__text"
            )
              a(
                href="mail:info@amservice.spb.ru"
                class ="contacts__description"
              ) info@amservice.spb.ru

  section(
    class = "contact-us"
  ) 
    div(
      class = "contact-us__container container container--custom grid grid-gap-md"
    )
      div(
        class = "contact-us__wrapper row"
      )
        div(
          class = "contact-us__text col-12 col-md-12"
        )
          h3(
            class = "contact-us__text-title title"
          ) Свяжитесь с нами

          p(
            class = "contact-us__text-description"
          ) Если у вас есть к нам вопросы, мы обязательно на них ответим

          form(
            class = "contact-us__form form-communication row"
            id = "mainForm"
          )
            div(
              class="form-group form-communication__group col-12 col-sm-4 mb-2"
            )
              label(
                class = "form-communication__label" 
                for="exampleInputName1"
              ) Имя

              input(
                type="text" 
                class="form-control form-communication__input" 
                id="exampleInputName1"
              )
        
            div(
              class="form-group form-communication__group col-12 col-sm-4 mb-2"
            )
              label(
                class = "form-communication__label" 
                for = "exampleInputPhone1"
              ) Телефон

              input(
                type = "text" 
                class = "form-control form-communication__input" 
                id = "exampleInputPhone1"
              )

            div(
              class = "form-group form-communication__group col-12 col-sm-4 mb-2"
            )
              label(
                class = "form-communication__label" 
                for = "exampleInputEmail1"
              ) E-mail

              input(
                type = "text" 
                class = "form-control form-communication__input" 
                id = "exampleInputEmail1"
              )

            div(
              class="form-group form-communication__group col-12 col-sm-12 mb-4"
            )
              label(
                class = "form-communication__label" 
                for = "exampleComment"
              ) Комментарий

              textarea(
                class="form-control form-communication__input" 
                id="exampleComment" 
                name="comment" 
              )

            div(
              class = "form-group col-12"
            )
              button(
                type = "button" 
                class = "btn btn-primary btn-lg form-communication__button col-12 col-sm-3"
              ) Отправить
