extends ../layout/main

block variables
  - var title = "АМ - сервис";
  - var description = "АМ - сервис";
  - var pageCLass = "am-service";

block content
  include ../inc/modules/main-slider

  //- payment 
  section(
    class = "payment"
  )
    div(
      class = "payment__container container container--custom"
    )
      div(
        class= "information-cards row"
      )
        div(
          class = "information-card payment__block col-12 col-sm-4"
        )
          a(
            class = "information-card__link payment__link payment__link--calculate-to link d-flex flex-column justify-content-between"
            href = "/calculator-technical-view.html"
          )
            h3(
              class = "information-card__title title "
            ) Калькулятор ТО

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>

        div(
          class = "information-card payment__block col-12 col-sm-4"
        )
          a(
            class = "information-card__link payment__link payment__link--repair link d-flex flex-column justify-content-between"
            href = "calculator-repair.html"
          )
            h3(
              class = "information-card__title title "
            ) Калькулятор ремонта

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>

        div(
          class = "information-card payment__block col-12 col-sm-4"
        )
          a(
            class = "information-card__link payment__link payment__link--paint link d-flex flex-column justify-content-between"
            href = "/calculator-body-painting.html"
          )
            h3(
              class = "information-card__title title "
            ) Малярно-кузовной ремонт

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>
  
  //- services
  section(
    class = "services"
  )
    div(
      class = "services__container container container--custom"
    )
      h2(
        class = "services__title title"
      ) Услуги
      
      div(
        class= "information-cards row"
      )
        div(
          class = "information-card col-12 col-sm-6"
        )
          a(
            class = "information-card__link link services__link--prepare-waxed d-flex flex-column justify-content-between"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text"
            )

              p(
                class = "information-card__description"
              ) Обработка твердым воском 1.5 мес <br> 
                |+ мойка + обезжиривание для легковых авто
              
              p(
                class = "information-card__price"
              ) от 3375 ₽

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>

        div(
          class = "information-card col-12 col-sm-3"
        )
          a(
            class = "information-card__link link services__link--diagnostics d-flex flex-column justify-content-between"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text"
            )
              
              p(
                class = "information-card__description information-card__description--small "
              ) Диагностика подвески 
                |+ диагностика компьютерная
              
              p(
                class = "information-card__price "
              ) от 1600 ₽

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>

        div(
          class = "information-card col-12 col-sm-3"
        )
          a(
            class = "information-card__link link services__link--technical d-flex flex-column justify-content-between"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text"
            )           

              p(
                class = "information-card__description information-card__description--small "
              ) Плановое ТО
              
              p(
                class = "information-card__price "
              ) от 2500 ₽

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>

        div(
          class = "information-card col-12"
        )
          a(
            class = "information-card__link link services__link--tire-service d-flex flex-column justify-content-between"
            href = "/"
          )
            span(
              class = "services__tires"
            )
            div(
              class = "information-card__wrapper-text information-card__wrapper-text--darken px-md-5"
            )
              h3(
                class = "information-card__title information-card__title--strong title"
              ) Шиномонтаж

              p(
                class = "information-card__price information-card__price--strong"
              ) 1500 ₽

              p(
                class = "information-card__description information-card__description--small"
              ) Привлекательные цены на шиномонтаж и хранение колес
              

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more information-card__arrow-more--darken" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>

        div(
          class = "information-card col-12 col-sm-4"
        )
          a(
            class = "information-card__link information-card__link--long link services__link--autumn d-flex flex-column justify-content-between"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text information-card__wrapper-text--darken"
            )
              h3(
                class = "information-card__title information-card__title title "
              ) Осень близко! Выгодные цены! 

              p(
                class = "information-card__description information-card__description--small mt-4"
              ) Комплексная диагностика для вашего автомобиля на самых выгодных условиях!
              

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more information-card__arrow-more--darken" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>

        div(
          class = "information-card col-12 col-sm-4"
        )
          a(
            class = "information-card__link information-card__link--small link services__link--chevrolet d-flex flex-column justify-content-between"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text"
            )
              h3(
                class = "information-card__title information-card__title title "
              ) Самая выгодная цена на ТО Chevrolet!

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>
          
          p(
            class = "information-card__description information-card__description--small px-3 px-md-2 px-lg-3 py-3"
          ) Позаботьтесь о здоровье своего любимого автомобиля Chevrolet! Мы рады предложить Вам провести ТО по выгодным ценам для 100% уверенности на дороге.

        div(
          class = "information-card col-12 col-sm-4"
        )
          a(
            class = "information-card__link information-card__link--small link services__link--opel d-flex flex-column justify-content-between"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text"
            )
              h3(
                class = "information-card__title information-card__title title "
              ) Самая выгодная цена на ТО Opel!

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>
          
          p(
            class = "information-card__description information-card__description--small px-3 px-md-2 px-lg-3 py-3"
          ) Позаботьтесь о здоровье своего любимого автомобиля Opel! Мы рады предложить Вам провести ТО по выгодным ценам для 100% уверенности на дороге.
        
  //- about-us 
  section(
    class="about-us"
  ) 
    div(
      class = "about-us__container container container--custom"
    )
      h2(
        class = "about-us__title title"
      ) О нас

      div(
        class = "about-us__wrapper row"
      )
        section(
          class = "owl-carousel owl-theme about-us__slider col-sm-12 col-md-6"
        )  
          div(
            class = "owl-carousel__item"
          )
            img(
              class = "owl-carousel__image",
              src = "site/templates/img/about-us.jpg",
              alt = "Самая выгодная цена на ТО Шевроле"
            )
          div(
            class = "owl-carousel__item"
          )
            img(
              class = "owl-carousel__image",
              src = "site/templates/img/about-us.jpg",
              alt = "Самая выгодная цена на ТО Шевроле"
            )
          div(
            class = "owl-carousel__item"
          )
            img(
              class = "owl-carousel__image",
              src = "site/templates/img/about-us.jpg",
              alt = "Самая выгодная цена на ТО Шевроле"
            )

        div(
          class = "about-us__text col-sm-12 col-md-6"
        )
          h3(
            class = "about-us__text-title title"
          ) Добро пожаловать в&nbsp;«АМ&#8209Сервис»!

          p(
            class = "about-us__text-description"
          ) Наш центр предлагает полный комплекс работ по техническому обслуживанию и ремонту автомобилей всех марок.
            |  Современное оборудование и большой выбор запчастей и аксессуаров позволяет нам осуществлять недорогой и качественный сервис. Работы проводятся специалистами высокой квалификации с более, чем десятилетним опытом, поэтому мы можем гарантировать качество обслуживания наших клиентов в техническом центре «АМ Сервис».

  section(
    class="carousel"
  ) 
    div(
      class = "carousel__container container container--custom"
    )
      h2(
        class = "carousel__title title"
      ) Новости

      section(
        class = "owl-carousel owl-theme carousel__cards information-cards information-cards--slider-carousel"
      )  
        div(
          class = "owl-carousel__item carousel-card information-card p-0"
        )
          a(
            class = "carousel-card__link information-card__link link d-flex flex-column justify-content-end"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text"
            )

              h3(
                class = "information-card__label col-10"
              ) Единая команда на «Июньке 2017»
                
              p(
                class = "information-card__dates mt-3"
              ) 14.06.2223

        div(
          class = "owl-carousel__item carousel-card information-card p-0"
        )
          a(
            class = "carousel-card__link information-card__link link d-flex flex-column justify-content-end"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text"
            )

              h3(
                class = "information-card__label col-10"
              ) Единая команда на «Июньке 2017»
                
              p(
                class = "information-card__dates mt-3"
              ) 14.06.2223

        div(
          class = "owl-carousel__item carousel-card information-card p-0"
        )
          a(
            class = "carousel-card__link information-card__link link d-flex flex-column justify-content-end"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text"
            )

              h3(
                class = "information-card__label col-10"
              ) Единая команда на «Июньке 2017»
                
              p(
                class = "information-card__dates mt-3"
              ) 14.06.2223

        div(
          class = "owl-carousel__item carousel-card information-card p-0"
        )
          a(
            class = "carousel-card__link information-card__link link d-flex flex-column justify-content-end"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text"
            )

              h3(
                class = "information-card__label col-10"
              ) Единая команда на «Июньке 2017»
                
              p(
                class = "information-card__dates mt-3"
              ) 14.06.2223

        div(
          class = "owl-carousel__item carousel-card information-card p-0"
        )
          a(
            class = "carousel-card__link information-card__link link d-flex flex-column justify-content-end"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text"
            )

              h3(
                class = "information-card__label col-10"
              ) Единая команда на «Июньке 2017»
                
              p(
                class = "information-card__dates mt-3"
              ) 14.06.2223

        div(
          class = "owl-carousel__item carousel-card information-card p-0"
        )
          a(
            class = "carousel-card__link information-card__link link d-flex flex-column justify-content-end"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text"
            )

              h3(
                class = "information-card__label col-10"
              ) Единая команда на «Июньке 2017»
                
              p(
                class = "information-card__dates mt-3"
              ) 14.06.2223

        div(
          class = "owl-carousel__item carousel-card information-card p-0"
        )
          a(
            class = "carousel-card__link information-card__link link d-flex flex-column justify-content-end"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text"
            )

              h3(
                class = "information-card__label col-10"
              ) Единая команда на «Июньке 2017»
                
              p(
                class = "information-card__dates mt-3"
              ) 14.06.2223

  section(
    class = "contact-us"
  ) 
    div(
      class = "contact-us__container container container--custom grid grid-gap-md"
    )

      //- Форма успешной отправки
      //- div(
      //-   class = "contact-us__wrapper row"
      //- )
      //-   div(
      //-       class = "contact-us__picture-success  mb-4"
      //-   )
      //-     img(
      //-       src = "site/templates/img/check.svg"
      //-       class = "contact-us__image-success"
      //-     )

      //-   div(
      //-     class = "contact-us__text col-sm-12 text-center"
      //-   )
      //-     h3(
      //-       class = "contact-us__text-title title"
      //-     ) Спасибо!

      //-     p(
      //-       class = "contact-us__text-description--success"
      //-     ) Благодарим за оставленную заявку. <br> 
      //-       |Мы обязательно свяжемся с Вами в ближайшее время.
      
      //- Форма отправки
      div(
        class = "contact-us__wrapper row"
      )
        div(
          class = "contact-us__text col-sm-7 col-md-6"
        )
          h3(
            class = "contact-us__text-title title"
          ) Свяжитесь с нами

          p(
            class = "contact-us__text-description"
          ) Если у вас есть к нам вопросы, мы обязательно на них ответим

          form(
            class = "contact-us__form form-communication"
            id = "mainForm"
          )
            div(
              class="form-group form-communication__group"
            )
              label(
                class = "form-communication__label" 
                for="exampleInputName1"
              ) Имя*

              input(
                type="text" 
                class="form-control form-communication__input" 
                id="exampleInputName1"
              )
        
            div(
              class="form-group form-communication__group"
            )
              label(
                class = "form-communication__label" 
                for = "exampleInputPhone1"
              ) Телефон*

              input(
                type = "text" 
                class = "form-control form-communication__input" 
                id = "exampleInputPhone1"
              )

            div(
              class = "form-group form-communication__group"
            )
              label(
                class = "form-communication__label" 
                for = "exampleInputEmail1"
              ) E-mail*

              input(
                type = "text" 
                class = "form-control form-communication__input" 
                id = "exampleInputEmail1"
              )

              div
                input(
                  class = "checkbox form-communication__checkbox" 
                  type = "checkbox" 
                  id = "checkbox1" 
                  checked
                )

                label(
                  class = "form-communication__label" 
                  for = "checkbox1"
                ) 
                  span(
                    class = "form-communication__text-checkbox"
                  ) Даю согласие на обработку своих персональных данных и соглашаюсь 
                    |с политикой конфиденциальности

            button(
              type = "button" 
              class = "btn btn-primary btn-lg form-communication__button col-12 col-sm-7"
            ) Отправить

        iframe(
          class = "communication__map col-sm-5 col-md-6"
          src="https://www.google.com/maps/d/embed?mid=1U3qqAXUGQqlBbl5VQHbB5NeKotN2ClTo" 
        )
      
      //- //- Лоадер загрузки
      //- div(
      //-   class="lds-ring"
      //- )
      //-   div
      //-   div
      //-   div
      //-   div