extends ../layout/main

block variables
  - var title = "АМ - сервис";
  - var description = "АМ - сервис";
  - var pageCLass = "am-service";

block content
  include ../inc/modules/main-slider

  section(
    class = "payment"
  )
    div(
      class = "payment__container container container--custom"
    )
      div(
        class= "information-cards row"
      )
        div(
          class = "information-card payment__block col-12 col-sm-4"
        )
          a(
            class = "information-card__link payment__link payment__link--calculate-to link d-flex flex-column justify-content-between"
            href="/"
          )
            h3(
              class = "information-card__title title "
            ) Калькулятор ТО

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>

        div(
          class = "information-card payment__block col-12 col-sm-4"
        )
          a(
            class = "information-card__link payment__link payment__link--repair link d-flex flex-column justify-content-between"
            href="/"
          )
            h3(
              class = "information-card__title title "
            ) Калькулятор ремонта

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>

        div(
          class = "information-card payment__block col-12 col-sm-4"
        )
          a(
            class = "information-card__link payment__link payment__link--paint link d-flex flex-column justify-content-between"
            href="/"
          )
            h3(
              class = "information-card__title title "
            ) Малярно-кузовной ремонт

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>
  
  section(
    class = "services"
  )
    div(
      class = "services__container container container--custom"
    )
      h2(
        class = "services__title title"
      ) Услуги
      
      div(
        class= "information-cards row"
      )
        div(
          class = "information-card col-12 col-sm-6"
        )
          a(
            class = "information-card__link link services__link--prepare-waxed d-flex flex-column justify-content-between"
            href="/"
          )
            div(
              class = "information-card__wrapper-text"
            )

              p(
                class = "information-card__description"
              ) Обработка твердым воском 1.5 мес <br> 
                |+ мойка + обезжиривание для легковых авто
              
              p(
                class = "information-card__price"
              ) от 3375 ₽

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>

        div(
          class = "information-card col-12 col-sm-3"
        )
          a(
            class = "information-card__link link services__link--diagnostics d-flex flex-column justify-content-between"
            href="/"
          )
            div(
              class = "information-card__wrapper-text"
            )
              
              p(
                class = "information-card__description information-card__description--small "
              ) Диагностика подвески 
                |+ диагностика компьютерная
              
              p(
                class = "information-card__price "
              ) от 1600 ₽

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>

        div(
          class = "information-card col-12 col-sm-3"
        )
          a(
            class = "information-card__link link services__link--technical d-flex flex-column justify-content-between"
            href="/"
          )
            div(
              class = "information-card__wrapper-text"
            )           

              p(
                class = "information-card__description information-card__description--small "
              ) Плановое ТО
              
              p(
                class = "information-card__price "
              ) от 2500 ₽

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>

        div(
          class = "information-card col-12"
        )
          a(
            class = "information-card__link link services__link--tire-service d-flex flex-column justify-content-between"
            href="/"
          )
            span(
              class = "services__tires"
            )
            div(
              class = "information-card__wrapper-text information-card__wrapper-text--darken px-5"
            )
              h3(
                class = "information-card__title information-card__title--strong title"
              ) Шиномонтаж

              p(
                class = "information-card__price information-card__price--strong"
              ) 1500 ₽

              p(
                class = "information-card__description information-card__description--small"
              ) Привлекательные цены на шиномонтаж и хранение колес
              

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more information-card__arrow-more--darken" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>

        div(
          class = "information-card col-12 col-sm-4"
        )
          a(
            class = "information-card__link information-card__link--long link services__link--autumn d-flex flex-column justify-content-between"
            href="/"
          )
            div(
              class = "information-card__wrapper-text information-card__wrapper-text--darken"
            )
              h3(
                class = "information-card__title information-card__title title "
              ) Осень близко! Выгодные цены! 

              p(
                class = "information-card__description information-card__description--small "
              ) Комплексная диагностика для вашего автомобиля на самых выгодных условиях!
              

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more information-card__arrow-more--darken" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>

        div(
          class = "information-card col-12 col-sm-4"
        )
          a(
            class = "information-card__link information-card__link--small link services__link--chevrolet d-flex flex-column justify-content-between"
            href="/"
          )
            div(
              class = "information-card__wrapper-text"
            )
              h3(
                class = "information-card__title information-card__title title "
              ) Самая выгодная цена на ТО Chevrolet!

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>
          
          p(
            class = "information-card__description information-card__description--small px-4 py-3"
          ) Позаботьтесь о здоровье своего любимого автомобиля Chevrolet! Мы рады предложить Вам провести ТО по выгодным ценам для 100% уверенности на дороге.

        div(
          class = "information-card col-12 col-sm-4"
        )
          a(
            class = "information-card__link information-card__link--small link services__link--opel d-flex flex-column justify-content-between"
            href="/"
          )
            div(
              class = "information-card__wrapper-text"
            )
              h3(
                class = "information-card__title information-card__title title "
              ) Самая выгодная цена на ТО Opel!

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>
          
          p(
            class = "information-card__description information-card__description--small px-4 py-3"
          ) Позаботьтесь о здоровье своего любимого автомобиля Opel! Мы рады предложить Вам провести ТО по выгодным ценам для 100% уверенности на дороге.