extends ../layout/main

block variables
  - var title = "АМ - сервис";
  - var description = "АМ - сервис";
  - var pageCLass = "am-service";

block content

  div(
    class = "breadcrumbs"
  )
    ol(
      class = "breadcrumbs__container container container--custom"
    )
      li(
        class = "breadcrumbs__item"
        itemprop="itemListElement" 
        itemscope
      )
        a(
          class = "breadcrumbs__link link"
          itemprop="item" 
          href="/"
        )
          span(
            class = "breadcrumbs__text"
            itemprop="name"
          ) Главная
        
        p(
          class = "breadcrumbs__symbol"
        ) >

        meta(
          itemprop="position" 
          content="1"
        )
        
      li(
        class = "breadcrumbs__item"
        itemprop="itemListElement" 
        itemscope
      )
        a(
          class = "breadcrumbs__link link"
          itemprop="item" 
        )
          span(
            class = "breadcrumbs__text"
            itemprop="name"
          ) Текст

        p(
          class = "breadcrumbs__symbol"
        )

        meta(
          itemprop="position" 
          content="2"
        )

  section(
    class = "banner"
  )
    div(
      class = "banner__container container container--custom"
    )
      div(
        class = "banner__wrapper-image"
      )
        img(
          class = "banner__image"
         src = "site/templates/img/slider01.jpg"
        )

  section(
    class = "text"
  )
    div(
      class = "text__container container container--custom"
    )
      p
        span Акция действует до 30.09.2019

      h3 Позаботьтесь о здоровье своего любимого автомобиля!

      p Мы рады предложить Вам провести ТО по выгодным ценам для 100% уверенности на дороге. 
        |Команда опытных механиков, специализированное профессиональное оборудование.
        |Мы работаем для Вас!

      p 
        span Мы рады предложить Вам провести ТО по выгодным ценам для 100% уверенности на дороге.
             |Команда опытных механиков, специализированное профессиональное оборудование.
             |Мы работаем для Вас!
  
      pre    Мы рады предложить Вам провести ТО по выгодным ценам для 100% уверенности на дороге.
             |   Команда опытных механиков, специализированное профессиональное оборудование.
             | Мы работаем для Вас!

      ul
        li
          h4 Chevrolet*	ТО-по акции   
        li
          p Cruze 1.6 (109л.с.)	1 800	2 745	4 545
        li
          p Cruze 1.6, 1.8 XER	1 800	2 935	4 735
        li
          p Orlando 1.8 XER	1 800	2 935	4 735


      ul
        li
          h4 Chevrolet*	ТО-по акции   
        li
          p Cruze 1.6 (109л.с.)	1 800	2 745	4 545
        li
          p Cruze 1.6, 1.8 XER	1 800	2 935	4 735
        li
          p Orlando 1.8 XER	1 800	2 935	4 735

      ol
        li
          h4 Chevrolet*	ТО-по акции   
        li(
          value = "1"
        )
          p Cruze 1.6 (109л.с.)	1 800	2 745	4 545
        li
          p Cruze 1.6, 1.8 XER	1 800	2 935	4 735
        li
          p Orlando 1.8 XER	1 800	2 935	4 735

      table
        thead
          tr
            th Вид работы
            th Стоимость работы
            th Необходимые материалы
            th Стоимость материалов
            th Производитель
        tbody
          tr 
            td Замена моторного масла
            td 490 ₽
            td Масло моторное GM Dexos 2 5W-30
            td 1560 ₽
            td GM
          tr 
            td Замена моторного масла
            td 490 ₽
            td Масло моторное GM Dexos 2 5W-30
            td 1560 ₽
            td GM
          tr 
            td Замена моторного масла
            td 490 ₽
            td Масло моторное GM Dexos 2 5W-30
            td 1560 ₽
            td GM
          tr 
            td Замена моторного масла
            td 490 ₽
            td Масло моторное GM Dexos 2 5W-30
            td 1560 ₽
            td GM
          tr 
            td Замена моторного масла
            td 490 ₽
            td Масло моторное GM Dexos 2 5W-30
            td 1560 ₽
            td GM
      
      p * ТО включает замену масла, масляного фильтра, салонного фильтра, воздушного фильтра, фильтра двигателя, а также контрольный осмотр (подвеска, тормозная система, рулевое, освещение и проверка технических жидкостей).
  section(
    class="news"
  ) 
    div(
      class = "news__container container container--custom"
    )
      h2(
        class = "news__title title"
      ) Другие акции

      section(
        class = "owl-carousel owl-theme information-cards news__cards information-cards--slider-stocks"
      )  
        div(
          class = "owl-carousel__item news-card information-card p-0"
        )
          a(
            class = "information-card__link information-card__link--small link services__link--autumn d-flex flex-column justify-content-between"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text"
            )
              h3(
                class = "information-card__title information-card__title title "
              ) Осень близко! Выгодные цены! 

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>
              
        div(
          class = "owl-carousel__item news-card information-card p-0"
        )
          a(
            class = "information-card__link information-card__link--small  link services__link--opel d-flex flex-column justify-content-between"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text"
            )
              h3(
                class = "information-card__title information-card__title title "
              ) Самая выгодная цена на ТО Opel!

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>
              
        div(
          class = "owl-carousel__item news-card information-card p-0"
        )
          a(
            class = "information-card__link information-card__link--small link services__link--chevrolet d-flex flex-column justify-content-between"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text"
            )
              h3(
                class = "information-card__title information-card__title title "
              ) Самая выгодная цена на ТО Chevrolet!

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>
              
        
        div(
          class = "owl-carousel__item news-card information-card p-0"
        )
          a(
            class = "information-card__link information-card__link--small link services__link--chevrolet d-flex flex-column justify-content-between"
            href = "/"
          )
            div(
              class = "information-card__wrapper-text"
            )
              h3(
                class = "information-card__title information-card__title title "
              ) Самая выгодная цена на ТО Chevrolet!

            div(
              class = "information-card__pictures"
            )
              <svg class = "information-card__arrow-more" width="19" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.82.92l-1.57 1.6 3.13 3.13H.5v2.63h13.9l-3.15 3.15 1.57 1.6 6.05-6.05L12.82.92z">
              </svg>